networks:
  default:
  web:
    external: true

services:

  db:
    image: mysql:latest
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: {{ mysql_root_password | mandatory }}
      MYSQL_USER: {{ mysql_user | mandatory }}
      MYSQL_PASSWORD: {{ mysql_pasword | mandatory }}


  adminer:
    image: adminer:latest
    restart: always
    ports:
      - 8080:8080
    labels:
      - traefik.enable=true
      - traefik.http.routers.${COMPOSE_PROJECT_NAME}-app.rule=Host(`{{ adminer_domain | mandatory }}`)
      - traefik.http.routers.${COMPOSE_PROJECT_NAME}-app.entrypoints=https
