networks:
  default:
  web:
    external: true

services:
  app:
    image: itzg/minecraft-server:latest
    container_name: minecraft
    networks:
      - web
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - {{ root }}/data:/data
    ports:
      - 25565:25565
    environment:
      EULA: "TRUE"
