networks:
  default:

services:
  app:
    image: itzg/minecraft-server:latest
    container_name: minecraft
    networks:
      - default
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - {{ root }}/data:/data
    ports:
      - 3306:19132
    environment:
      EULA: "TRUE"
      VERSION: "1.20.1"
      DIFFICULTY: "hard"
      PVP: "true"
      VIEW_DISTANCE: 16
      ICON: "https://dl.starzmann.net/mc_icon.png"
      MOTD: "\u00A74\u22D9\u00A74\u00A7kXXXX\u00A74\u22D9\u00A72 Starzmann und Co. KG Server \u00A74 \u22D8\u00A74\u00A7kXXXX\u00A74\u22D8\u00A7r"
      MEMORY: 4G

  backups:
    image: itzg/mc-backup
#   depends_on:
#     app
    environment:
      BACKUP_INTERVAL: "4h"
      RCON_HOST: app
      PRUNE_BACKUPS_DAYS: 7
      INITIAL_DELAY: 2m
    volumes:
      - {{ root }}/data:/data:ro
      - {{ root }}/backup:/backups
