networks:
  default:

services:
  app:
    image: itzg/minecraft-server:latest
    container_name: minecraft
    networks:
      - default
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - {{ root }}/data:/data
    ports:
      - 3306:19132
    environment:
      EULA: "TRUE"
