networks:
  default:
  web:
    external: true

services:
  app:
    image: ghcr.io/techno-tim/littlelink-server:latest
    container_name: littlelink
    networks:
      - web
    hostname: littlelink
    environment:
      - META_TITLE=Nick Starzmann
      - META_DESCRIPTION=Software Engineer
      - META_AUTHOR=Nick Starzmann
      - META_KEYWORDS=Ansible, HTML, CSS, Engineering, .Net, PowerShell, c#
      - LANG=de
      - META_INDEX_STATUS=all
      - OG_SITE_NAME=Nick Starzmann
      - OG_TITLE=Nick Starzmann
      - OG_DESCRIPTION=The home of Nick Starzmann
      - OG_URL=https://web.starzmann.net
      - OG_IMAGE=https://dl.starzmann.net/ProfilePicture.jpg
      - OG_IMAGE_WIDTH=400
      - OG_IMAGE_HEIGHT=400
      - GA_TRACKING_ID=G-XXXXXXXXXX
      - THEME=Dark
      - FAVICON_URL=https://dl.starzmann.net/ProfilePicture.jpg
      - AVATAR_URL=https://dl.starzmann.net/ProfilePicture.jpg
      - AVATAR_2X_URL=https://dl.starzmann.net/ProfilePicture.jpg
      - AVATAR_ALT=Nick Starzmann Profile Pic
      - NAME=Nick Starzmann
      - BIO=Software Engineer, Hobby Photographer and Motorcyclist ;)
      # use ENV variable names for order, listed buttons will be boosted to the top
      - BUTTON_ORDER=GITHUB,INSTAGRAM,LINKED_IN
      # you can render an unlimited amount of custom buttons by adding 
      # the CUSTOM_BUTTON_* variables and by using a comma as a separator.
      - GITHUB=https://github.com/LittleRossi
      - TWITTER=https://twitter.com/Nstarzmann
      - INSTAGRAM=https://www.instagram.com/alles_oder_nicks/
      - XING=https://www.xing.com/profile/Nick_Starzmann
      - LINKED_IN=https://www.linkedin.com/in/nick-starzmann-a437b42a4/
      - FOOTER=Nick Starzmann © 2024

    ports:
      - 8000:3000
    labels:
      - traefik.enable=true
      - traefik.http.routers.${COMPOSE_PROJECT_NAME}-app.rule=Host(`{{ littlelink_domain | mandatory }}`)
      - traefik.http.routers.${COMPOSE_PROJECT_NAME}-app.entrypoints=https
