networks:
  web:
    external: true

services:
  app:
    image: ghcr.io/littlerossi/dhbw-rapla-filtercalendar:latest
    container_name: filteredrapla
    networks:
      - web
    ports:
      - 4222:8080
    labels:
      - traefik.enable=true
      - traefik.http.routers.${COMPOSE_PROJECT_NAME}-app.rule=Host(`{{ filteredrapla_domain }}`) && PathPrefix(`/calendar`)
      - traefik.http.routers.${COMPOSE_PROJECT_NAME}-app.entrypoints=https  # Verwende den HTTPS-EntryPoint
